.columns.login,
.columns.register,
.columns.reset {
    z-index: 10;
    width: 100%;
}

.login label,
.register label,
.reset label {
    position: unset;
}

.is-muted {
    color: #000000 !important;
}

a.is-muted:hover {
    color: #A9A9A9 !important;
}